/* Style for the body */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #800080; /* Purple background */
  font-family: Arial, sans-serif;
  color: white;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Main container styling */
.container {
  text-align: center;
}

.eightball {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: purple;
  font-size: 18px;
  font-weight: bold;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Button styling */
button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #4b0082; /* Darker purple */
}

.reset-button {
  background-color: #f44336;
}

.reset-button:hover {
  background-color: #da190b;
}

/* Media Queries for Mobile Devices */
@media (max-width: 600px) {
  .eightball {
    width: 100px;
    height: 100px;
    font-size: 14px;
  }

  button {
    width: 80%;
    font-size: 14px;
  }
}